/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



section {

    background: #ffffff;
    /* min-height: 100vh; */
    /* flex-wrap: wrap; */
}
.about-flex {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* background: #ffffff; */
    /* min-height: 100vh; */
    /* flex-wrap: wrap; */
}

section img {
    max-inline-size: 100%;
    display: block;
    overflow: hidden;
    /* object-fit: cover; */
    /* flex: 0 1 60%; */
}

.about-flex .aboutContent {
    width: min(700px, 100%);
    /* flex: 0 2 35%; */
    /* margin: 1.5rem; */
    padding: 2rem;
    /* display: block; */
}

@media(max-width: 768px) {
    .about-flex {
        flex-direction: column;
        margin: auto;

    }
    .about-flex{

        gap: .7rem;
    }
   .aboutContent h3{
       text-align: center;
    }
}



.aboutContent h3 {
    font-size: clamp(2rem, 3vw, 1rem);
    padding: 1rem 0;
}

.aboutContent p {
    padding: .5rem 0;
    font-size: 1.09rem;
}

.social p {
    font-weight: 600;
    border-bottom: 2pt solid #d3d3d3;
}

.social div {
    padding: 1rem 0;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */

}
span{
    color: red;
    font-weight: 700;
}
.fa-solid,
.fa-brands {
    color: rgb(24, 214, 109);
}

.fa-solid:hover,
.fa-brands:hover {
    color: rgb(12, 124, 124);
    cursor: pointer;
    transform: scale(1.03);
}


/***** Section *****/
/* header{
    height: 500px;
    background-color: #00e3eb;
}
nav{
    background-color: #d83939;
    height: 100px;
}
main{
    background-color: #2bd809bb;
    padding: 30px;
    border: 3pt solid #00e3eb;
    
    display: flex;
    gap: 30px;

}
main > div{
    flex: 3;
}
aside{
    border: 1pt solid #f70707;
    background-color: #b0e000;
    flex: 2;

}
section{
    background-color: #463737;
    border: 1pt solid #ffa9a9;
    height: 200px;
    flex: 3;
}

footer{
    border: 1pt solid #380909;
    height: 200px;
    background-color: #380909;
} */
/***** End Section *****/