@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&display=swap');

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Professional Tech */
    --color-primary: #1E3A8A;

    --color-accent: #e05252;
    --color-highlight: #bd5b5b;
    --color-neutral: #F3F4F6;
    --color-charcoal: #0e0e0e;
    --color-gray: #303030;
    --dark-text: #b4b4b4;

    --navColorBg: var(--color-charcoal);
    --bgColor: var(--color-charcoal);
    --btnColor: var(--color-accent);
    --fontColor: var(--color-neutral);
    --aboutBg: var(--color-gray);
    --footerColor: var(--color-gray);

    --headFont: "Space Grotesk", sans-serif;
    --textFont: "DM Sans", sans-serif;


    /* Professional Tech → recruiters see structure, reliability, and focus. */
    --sectionPadding: 4rem 2rem;
    --sectionMarginBottom: 4rem;

    --cardPadding: 2rem;
    --cardMarginBottom: 2rem;
    --cardRadius: 0.5rem;
}

/***** Reset Blocks *****/
/* Recommended Typography Spacing */
body {
    font-family: var(--textFont);
    color: var(--color-neutral);

    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    background: var(--bgColor);
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 2rem;
    font-family: var(--headFont);
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 1.5rem;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

small,
.caption {
    font-size: 0.875rem;
    line-height: 1.4;
    margin-bottom: 0.75rem;
}

img {
    max-inline-size: 100%;
    display: block;
    overflow: hidden;
}

.breakupPoints::before {
    content: "// ";
    font-weight: bold;
    color: var(--btnColor);
    margin-right: 4px;

}

span{
    color: var(--btnColor);
}
/***** End Reset Blocks *****/
.containner {
    max-width: 1200px;
    margin: 0 auto;
}



section {
    padding: var(--sectionPadding);
    margin-bottom: var(--sectionMarginBottom);
}
#about{
    background: var(--aboutBg);
}
footer {
    background: var(--footerColor);
    color: var(--dark-text);
}

/***** End Responsive Section *****/